LG_DOWNLOAD_EMPLOYEE_CITATION_DOCUMENT-fIWOnraa7rXcuRqc.json.json
{"createdAt":"2025-07-28T21:28:30.406Z","updatedAt":"2025-07-28T21:28:45.994Z","id":"fIWOnraa7rXcuRqc","name":"LG_DOWNLOAD_EMPLOYEE_CITATION_DOCUMENT","active":false,"isArchived":false,"nodes":[{"parameters":{"url":"https://graph.microsoft.com/v1.0/sites/softwareestrategico.sharepoint.com:/sites/SoftwareEstrategico","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"={{ $('Set Variables').first().json.access_token }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1136,-48],"id":"4eea2da5-cd02-4751-950f-8b8d3a8f5242","name":"Get Site ID"},{"parameters":{"url":"=https://graph.microsoft.com/v1.0/sites/{{ $json.id }}/drives","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"={{ $('Set Variables').first().json.access_token }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-896,-48],"id":"bfeba2d4-ad38-4eb1-8166-3210f6e5bf76","name":"Get Drives"},{"parameters":{"operation":"binaryToPropery","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[-448,-48],"id":"c4f2449d-b080-4fc0-8147-1347d28e7c89","name":"Extract from File"},{"parameters":{"url":"=https://graph.microsoft.com/v1.0/drives/{{ $('Get Drives').item.json.value[0].id }}/root:/{{ $('Extract Folder Archive').item.json.relativePath }}/{{ $('Set Variables').item.json.name_file }}:/content","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"={{ $('Set Variables').item.json.access_token }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-656,-48],"id":"c92307a3-6493-4f27-959b-0ae9a3c94bdd","name":"Download File"},{"parameters":{"jsCode":"function extractRelativePath(url) {\n  const base = $(\"Set Variables\").first().json.base_url;\n  const index = url.indexOf(base);\n  if (index === -1) return null;\n\n  // Extraer la subruta desde el índice donde termina \"Documentos compartidos/\"\n  return decodeURIComponent(url.substring(index + base.length));\n}\n\nconst url = $('Set Variables').first().json.url_file;\nconst relativePath = extractRelativePath(url);\n\nreturn {relativePath};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1376,-48],"id":"5303bb15-cc46-46be-92ed-0688fc969b18","name":"Extract Folder Archive","alwaysOutputData":false},{"parameters":{"assignments":{"assignments":[{"id":"df5e64dd-467f-4f3d-80ef-76c10cc9bc36","name":"access_token","value":"={{ $('Call From WF Lg Send Employee Citation Mail').first().json.token }}","type":"string"},{"id":"a2886003-aeb3-4861-9c14-1f08faf7d14b","name":"url_file","value":"={{ $('Call From WF Lg Send Employee Citation Mail').first().json.url_file }}","type":"string"},{"id":"e9c35f37-7c5c-4344-84e2-b22130b6e9ac","name":"name_file","value":"={{ $('Call From WF Lg Send Employee Citation Mail').first().json.name_file }}","type":"string"},{"id":"c34563f2-3cbe-49a4-a368-d727dbd75422","name":"base_url","value":"Documentos%20compartidos","type":"string"}]},"includeOtherFields":"={{ false }}","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1616,-48],"id":"5617d9f2-5133-4a69-851c-3ca3bf2d5c69","name":"Set Variables"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"fef49b50-3e29-4967-b8f9-9fe1882ed613","leftValue":"={{ $('Evaluate Lenght').first().json.result }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-32,-64],"id":"48cd06fd-29a7-4a85-bb85-fb031d4bb761","name":"Validate Lenght"},{"parameters":{"assignments":{"assignments":[{"id":"a62caa7c-3035-47c0-a7e2-7bd91407ce77","name":"data","value":"={{ $('Extract from File').item.json.data }}","type":"string"}]},"includeOtherFields":"={{ false }}","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[192,-160],"id":"2cc148c8-7c99-445c-b554-95bc6ff066b2","name":"Result Base64"},{"parameters":{"errorMessage":"El archivo supera las 3MB de tamaño"},"type":"n8n-nodes-base.stopAndError","typeVersion":1,"position":[224,64],"id":"c4956f74-dac3-4a9d-940c-5e7e40dcdb7f","name":"Stop and Error"},{"parameters":{"jsCode":"function isMinorA3072KB(lenghtStr) {\n  // Extraer el número antes del \"kb\" y convertirlo a número\n  const valueKB = parseFloat(lenghtStr.toLowerCase().replace('kb', '').trim());\n\n  // Verificar si el valor es menor a 3072\n  return valueKB < 3072;\n}\n\nlet value = $(\"Download File\").first().binary.data.fileSize;\nconst result = isMinorA3072KB(value);\n\nreturn {result}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-224,-48],"id":"8d46cfd4-a41c-492a-ad47-7128161693b8","name":"Evaluate Lenght"},{"parameters":{"inputSource":"jsonExample","jsonExample":"{\n  \"token\": \"\",\n  \"url_file\": \"\",\n  \"name_file\": \"\"\n}"},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-1824,-48],"id":"824b0789-bc3c-47ae-8302-94d6c8bb95ef","name":"Call From WF Lg Send Employee Citation Mail"}],"connections":{"Get Site ID":{"main":[[{"node":"Get Drives","type":"main","index":0}]]},"Get Drives":{"main":[[{"node":"Download File","type":"main","index":0}]]},"Download File":{"main":[[{"node":"Extract from File","type":"main","index":0}]]},"Extract Folder Archive":{"main":[[{"node":"Get Site ID","type":"main","index":0}]]},"Set Variables":{"main":[[{"node":"Extract Folder Archive","type":"main","index":0}]]},"Validate Lenght":{"main":[[{"node":"Result Base64","type":"main","index":0}],[{"node":"Stop and Error","type":"main","index":0}]]},"Extract from File":{"main":[[{"node":"Evaluate Lenght","type":"main","index":0}]]},"Evaluate Lenght":{"main":[[{"node":"Validate Lenght","type":"main","index":0}]]},"Call From WF Lg Send Employee Citation Mail":{"main":[[{"node":"Set Variables","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{"Call From WF Lg Send Employee Citation Mail":[{"json":{"token":"eyJ0eXAiOiJKV1QiLCJub25jZSI6IjdJRTd4YnA4QkNlZDhzX2JDTEhYTTFWT1FHcEU4UTM4bTlEYmViR2NoODgiLCJhbGciOiJSUzI1NiIsIng1dCI6Il9qTndqZVNudlRUSzhYRWRyNVFVUGtCUkxMbyIsImtpZCI6Il9qTndqZVNudlRUSzhYRWRyNVFVUGtCUkxMbyJ9.eyJhdWQiOiJodHRwczovL2dyYXBoLm1pY3Jvc29mdC5jb20iLCJpc3MiOiJodHRwczovL3N0cy53aW5kb3dzLm5ldC9mNWI0YmNlNS0wNmYwLTQwMzUtODYxZi1kZGVhNmQ1NWE1ZTkvIiwiaWF0IjoxNzUzMTk0NTc3LCJuYmYiOjE3NTMxOTQ1NzcsImV4cCI6MTc1MzE5ODQ3NywiYWlvIjoiazJSZ1lDaUo4MTFlLzVGeDJ3WG0xM2VPOTRhZkFRQT0iLCJhcHBfZGlzcGxheW5hbWUiOiJMZWdhbF9BZ2VudCIsImFwcGlkIjoiMjQ0ZGVjMzItNTM4OS00Njc5LWIzNTMtNjUyYTdmMzJkYzkwIiwiYXBwaWRhY3IiOiIxIiwiaWRwIjoiaHR0cHM6Ly9zdHMud2luZG93cy5uZXQvZjViNGJjZTUtMDZmMC00MDM1LTg2MWYtZGRlYTZkNTVhNWU5LyIsImlkdHlwIjoiYXBwIiwib2lkIjoiZWQxNjg1ZTgtNTQzYS00NWEyLTg2MWMtNGM3MjJkNDhjMWM3IiwicmgiOiIxLkFUUUE1YnkwOWZBR05VQ0dIOTNxYlZXbDZRTUFBQUFBQUFBQXdBQUFBQUFBQUFBMEFBQTBBQS4iLCJyb2xlcyI6WyJVc2VyQXV0aGVudGljYXRpb25NZXRob2QuUmVhZC5BbGwiLCJNYWlsLlJlYWRXcml0ZSIsIkF1dGhlbnRpY2F0aW9uQ29udGV4dC5SZWFkLkFsbCIsIlVzZXJBdXRoZW50aWNhdGlvbk1ldGhvZC5SZWFkV3JpdGUuQWxsIiwiQ2FsZW5kYXJzLlJlYWQiLCJTaXRlcy5SZWFkLkFsbCIsIkF1dGhlbnRpY2F0aW9uQ29udGV4dC5SZWFkV3JpdGUuQWxsIiwiVXNlci5SZWFkLkFsbCIsIkNhbGVuZGFycy5SZWFkQmFzaWMuQWxsIiwiRmlsZXMuUmVhZC5BbGwiLCJDYWxlbmRhcnMuUmVhZFdyaXRlIiwiTWFpbC5TZW5kIl0sInN1YiI6ImVkMTY4NWU4LTU0M2EtNDVhMi04NjFjLTRjNzIyZDQ4YzFjNyIsInRlbmFudF9yZWdpb25fc2NvcGUiOiJTQSIsInRpZCI6ImY1YjRiY2U1LTA2ZjAtNDAzNS04NjFmLWRkZWE2ZDU1YTVlOSIsInV0aSI6IktGY3V6UV8ta0UyMm51X2lsTUV1QUEiLCJ2ZXIiOiIxLjAiLCJ3aWRzIjpbIjA5OTdhMWQwLTBkMWQtNGFjYi1iNDA4LWQ1Y2E3MzEyMWU5MCJdLCJ4bXNfZnRkIjoiZ2U3bk4wODdmYm1pZTNtRF9ScWxUZjRRNFBXTnRGX0daeU1Ma3JFYjZlb0JkWE5sWVhOMExXUnpiWE0iLCJ4bXNfaWRyZWwiOiI3IDE2IiwieG1zX3JkIjoiMC40MkxsWUJKaU5CRVM0V0FYRW1qa2NfSGQzT25nMlhIdzVzSlhFbVhxUUZGT0lZRVZvUVpXOWxPX09QVGViR3Q4TTZkdVBWQ1VRMGlBbVFFQ0RrQnBBQSIsInhtc190Y2R0IjoxMzg0MjY5MDczfQ.cgv_lckLruWfTfVK4ZJY7x5ixyVuRWrEx9CfmgE9l4TfVZV7TVKxvsLLDEXkhjs0PsKY-SXyO7yTnh4ti2B6RQIm1gQIlwRAh7AUsiyL5UD1mK8DiJ7QRGAJ_FwPqBW1po-BWsVOPap0tV2yxOP_ZJ7H7fzjBBAZtNcsMKyWinOLIh1DruLcrLYj8my75WAdl3l6DFZiiGcLCHwa12pZGb2AH1WFnNOWwepTCMqU659bvm8U3gYn3LxNbkjVfsFijSuGLAn6kltnXe16T6Y03RU9fJcPv3OkjAbdQUGG_V1NFwM0jYYTBPr1CEex-bisIFzBK2vXW8fpnfO8km9d4Q","url_file":"https://softwareestrategico.sharepoint.com/sites/SoftwareEstrategico/Documentos%20compartidos/PDF_Teams_IA/2025/julio/SOLAT140","name_file":"Citacion_Descargos_SOLAT140_firmado.pdf"}}]},"versionId":"3e128317-fbb3-4482-bb71-8fc1064376c7","triggerCount":0,"tags":[{"createdAt":"2025-07-28T21:28:44.143Z","updatedAt":"2025-07-28T21:28:44.143Z","id":"nltXpCxWPVopQXaA","name":"Agent_Legal"}]}