LG_INSERT_IMAGEN-2Es8jO6fzUSe2atw.json
{"createdAt":"2025-07-29T18:35:37.822Z","updatedAt":"2025-08-12T14:52:00.636Z","id":"2Es8jO6fzUSe2atw","name":"LG_INSERT_IMAGEN","active":false,"isArchived":false,"nodes":[{"parameters":{"jsCode":"const items=$input.first().json.value;\n\nreturn items.map(item => {\n \n  return {\n    json: item\n  };\n});\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1024,-320],"id":"e41374a2-9e4b-491e-8f75-cffea715536d","name":"Split Template Data Items"},{"parameters":{"fileSelector":"=tmp/legal_agent/evidence/1111111111/\n{{ $json.name }}","options":{}},"type":"n8n-nodes-base.readWriteFile","typeVersion":1,"position":[-576,-112],"id":"129af40a-3917-45df-93d4-f5853f592c73","name":"Read Template File If Exists","alwaysOutputData":true},{"parameters":{"url":"=https://graph.microsoft.com/v1.0/drives/{{ $('Loop Open Process').item.json.parentReference.driveId }}/items/{{ $('Loop Open Process').item.json.id }}/content\n","authentication":"genericCredentialType","genericAuthType":"oAuth2Api","options":{"response":{"response":{"responseFormat":"file"}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-96,32],"id":"19bcff4a-ef7f-4108-95a6-8eefecfd6306","name":"Download Process File From SharePoint","credentials":{"oAuth2Api":{"id":"bFIWrkN2SNqk0s7T","name":"SharePoint Credential"}}},{"parameters":{"operation":"write","fileName":"=tmp/legal_agent/evidence/1111111111/{{ $('Loop Open Process').item.json.name }}","options":{}},"type":"n8n-nodes-base.readWriteFile","typeVersion":1,"position":[96,192],"id":"32e68731-a5d0-4e63-800e-b2f2734beffe","name":"Save Process File To Disk"},{"parameters":{"operation":"executeQuery","query":"SELECT\n  CONCAT(\n    EXTRACT(DAY FROM fap.created_at), ' de ',\n    CASE EXTRACT(MONTH FROM fap.created_at)\n      WHEN 1 THEN 'enero'\n      WHEN 2 THEN 'febrero'\n      WHEN 3 THEN 'marzo'\n      WHEN 4 THEN 'abril'\n      WHEN 5 THEN 'mayo'\n      WHEN 6 THEN 'junio'\n      WHEN 7 THEN 'julio'\n      WHEN 8 THEN 'agosto'\n      WHEN 9 THEN 'septiembre'\n      WHEN 10 THEN 'octubre'\n      WHEN 11 THEN 'noviembre'\n      WHEN 12 THEN 'diciembre'\n    END,\n    ' de ',\n    EXTRACT(YEAR FROM fap.created_at)\n  ) AS fecha_creacion,\n  u_empleado.solvo_id AS solvo_id_empleado,\n  u_empleado.full_name AS nombre_empleado,\n  u_empleado.document,\n  fap.cuenta_operacion AS department,\n  fap.sede_trabajo,\n  fap.horario_trabajo,\n  fap.dias_descanso,\n  fap.detalle_conductas,\n  u_jefe.full_name AS nombre_jefe,\n  u_jefe.solvo_id AS solvo_id_jefe\nFROM public.fact_apertura_proceso fap\nJOIN public.users u_empleado ON fap.id_empleado = u_empleado.id\nLEFT JOIN public.users u_jefe ON fap.id_solicitante = u_jefe.id\nWHERE fap.id = {{ $json.idProcesoForm }};","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-1440,-320],"id":"21fd3e9e-4497-4830-91f8-eda596b633a3","name":"Get Template Data","credentials":{"postgres":{"id":"t7K7eyjUsIfXd8J7","name":"Postgres account"}}},{"parameters":{"inputSource":"passthrough"},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-1904,-320],"id":"8e6eac08-9cbd-4e90-b791-1ea72d31eb4b","name":"Call From LG_CREATE_YEAR_MONTH_FOLDER"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"f20b3b7f-452b-43ab-990a-9d528deecd5d","leftValue":"={{ $json }}","rightValue":"","operator":{"type":"object","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-336,-112],"id":"22a70094-f5ce-40f0-b4b8-74a49de6554a","name":"Validate Template File Exists"},{"parameters":{},"type":"n8n-nodes-base.noOp","name":"Go Back Loop","typeVersion":1,"position":[400,176],"id":"8f228e2f-ee1c-4989-91f9-daf9f1ac30bf"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-816,-128],"id":"4d8b4727-67ba-4978-9131-a4990baf9a18","name":"Loop Open Process"},{"parameters":{"jsCode":"return $input.all();\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1664,-320],"id":"86de31ac-c47d-4c7e-a4eb-9b19a4ed55ab","name":"Map Input Data"},{"parameters":{"url":"https://graph.microsoft.com/v1.0/sites/softwareestrategico.sharepoint.com,ab0aee8d-22e9-4218-a1f1-30b870c1060c,e2b2e7d8-29a6-46cb-9608-8e6359975805/drive/root:/evidencias:/children","authentication":"genericCredentialType","genericAuthType":"oAuth2Api","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Accept","value":"application/json"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1248,-320],"id":"47467c8f-8432-4141-a7f2-3c24dcd2ebd8","name":"Get Template","credentials":{"oAuth2Api":{"id":"bFIWrkN2SNqk0s7T","name":"SharePoint Credential"}}}],"connections":{"Split Template Data Items":{"main":[[{"node":"Loop Open Process","type":"main","index":0}]]},"Read Template File If Exists":{"main":[[{"node":"Validate Template File Exists","type":"main","index":0}]]},"Download Process File From SharePoint":{"main":[[{"node":"Save Process File To Disk","type":"main","index":0}]]},"Save Process File To Disk":{"main":[[{"node":"Go Back Loop","type":"main","index":0}]]},"Get Template Data":{"main":[[{"node":"Get Template","type":"main","index":0}]]},"Call From LG_CREATE_YEAR_MONTH_FOLDER":{"main":[[{"node":"Map Input Data","type":"main","index":0}]]},"Validate Template File Exists":{"main":[[{"node":"Go Back Loop","type":"main","index":0}],[{"node":"Download Process File From SharePoint","type":"main","index":0}]]},"Go Back Loop":{"main":[[{"node":"Loop Open Process","type":"main","index":0}]]},"Loop Open Process":{"main":[[],[{"node":"Read Template File If Exists","type":"main","index":0}]]},"Map Input Data":{"main":[[{"node":"Get Template Data","type":"main","index":0}]]},"Get Template":{"main":[[{"node":"Split Template Data Items","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{"Call From LG_CREATE_YEAR_MONTH_FOLDER":[{"json":{"success":true,"idProcesoForm":"46"}}]},"versionId":"288479a6-e30c-42d1-80c2-f405a2f26817","triggerCount":0,"tags":[]}