LG_RECEPTION_ANALYSIS_INITIAL_FACTS-bMAyxNt1AoNR8HJg.json
{"createdAt":"2025-07-28T21:28:38.517Z","updatedAt":"2025-08-04T13:40:34.106Z","id":"bMAyxNt1AoNR8HJg","name":"LG_RECEPTION_ANALYSIS_INITIAL_FACTS","active":false,"isArchived":false,"nodes":[{"parameters":{"jsCode":"return $input.all();"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-320,224],"id":"bc7a6ac0-8c10-4c04-9726-964f1a60b08b","name":"Reception Call Attention Form"},{"parameters":{"operation":"select","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"users","mode":"list","cachedResultName":"users"},"where":{"values":[{"column":"id","value":"={{ $json.teams.body.value.employee }}"}]},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-32,-128],"id":"cd42abd7-bb96-44f5-aae3-96e3cbe1ee97","name":"Get Employee","credentials":{"postgres":{"id":"t7K7eyjUsIfXd8J7","name":"Postgres account"}}},{"parameters":{"schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"callsattentionusers","mode":"list","cachedResultName":"callsattentionusers"},"columns":{"mappingMode":"defineBelow","value":{"created":"={{ $('Reception Call Attention Form').item.json.teams.body.timestamp }}","userid":"={{ $json.id }}","document":"={{ $json.document }}","fullname":"={{ $json.full_name }}","description":"={{ $('Reception Call Attention Form').item.json.teams.body.value.comment }}","legal_process_option":2},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"created","displayName":"created","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true},{"id":"userid","displayName":"userid","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true},{"id":"document","displayName":"document","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"fullname","displayName":"fullname","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"description","displayName":"description","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"url_document","displayName":"url_document","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"legal_process_option","displayName":"legal_process_option","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[208,-128],"id":"9a3d9fe1-a074-4c80-99b3-ed207f0c04fe","name":"Insert Call Attention","credentials":{"postgres":{"id":"t7K7eyjUsIfXd8J7","name":"Postgres account"}}},{"parameters":{"jsCode":"const callAttentionData = $input.first().json;\n\n\nconst setData = {\n  typeAgent: 'vectorial',\n  authenticateTeamsInfo: $('Reception Call Attention Form').first().json.au,\n  chatInput: $('Reception Call Attention Form').first().json.teams.body.value.comment,\n  sessionId: $('Reception Call Attention Form').first().json.teams.sessionId,\n  call_atettntion_row: $input.first().json,\n  prompt: `\n  Siempre que mencione TCB, debes hacer referencia al valor de la siguiente variable:\n  TCB = mensaje corto **FORMAL** y cercano entre colegas (tono tuteado colombiano, de Bogotá).\n  \n  Actúa como un asistente legal interno de una empresa en Colombia que consulta el Reglamento Interno de Trabajo (RIT) desde Supabase.\nNombre del empleado de los hechos: ${ callAttentionData.fullname.split(' ')[0] }\nCuando te refieras al trabajador/Empleado hazlo por su nombre, ejemplo (“Lo que hizo ${callAttentionData.fullname.split(' ')[0]}, parece estar afectando... ”)\nCuando te proporcione un hecho relacionado con un trabajador, realiza lo siguiente:\n\n1. Analiza el hecho y determina los artículos y literales del RIT que podrían estar siendo incumplidos.  \n2. Clasifica el nivel de la falta: \"leve\", \"media\", \"grave\" o \"muy grave\".  \n3. Evalúa si se trata de un hecho explícito reportado (acción ya ocurrida) o solo una intención futura. Si es solo una intención, el campo 'crearProcesoApertura' debe ser 'false', y se debe justificar claramente por qué.  \n4. En el campo 'descripcion', haz una correspondencia textual entre el contenido literal del RIT y cómo el hecho evidencia una transgresión directa. Usa texto del RIT y explica su relación con la conducta observada. Sé formal, claro y técnico.\n\nAntes del análisis técnico, inicia el texto del campo 'contexto' como si fueras un colega legal hablándole a otro en confianza (ej. “${ $('Reception Call Attention Form').first().json.au.full_name.split(' ')[0] }, ya revisé lo que me contaste…”). Usa un tono profesional, tuteado y cercano, como si fuera una conversación entre compañeros de trabajo en Colombia. Sé directo y breve en explicar si se puede o no abrir el proceso, sin extenderse mucho y evitar decir palabras como 'arranquemos'.\n\nLa siguiente es una descripción de un comportamiento observado en un empleado:\n\nInicio Observacion  \n${ $('Reception Call Attention Form').first().json.teams.body.value.comment }  \nFin Observacion\n\nDevuelve la respuesta **exclusivamente en este formato JSON**:\n{\n  \"crearProcesoApertura\": boolean,\n  \"contexto\": \"[Nombre de la persona], ya revisé lo que me contaste y la verdad, [breve conclusión profesional  en TCB ]. [Justificación corta pero clara]. [¿Quieres que iniciemos con el proceso disciplinario? / ¿Quieres que hagamos algo distinto?]\",\n  \"descripcion\": \"Texto formal y técnico, con citas literales del RIT que sustentan la evaluación del caso en TCB.\"\n}\n\nReglas adicionales:\n\n- Sé claro y directo en justificar si se debe o no abrir el proceso.  \n- Si 'crearProcesoApertura' es 'true', finaliza el 'contexto' preguntandole SIEMPRE al usuario si quiere dar inicio al proceso disciplinario en  en TCB\n- Si 'crearProcesoApertura' es 'false', finaliza el 'contexto' con:  \n  ¿Quieres que hagamos algo distinto?\n\n`\n}\n\n/* Si no tiene sesion activa CHAO */\nif(Object.values(setData?.authenticateTeamsInfo).length == 0){\n  return []\n}\nreturn setData\n\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[480,-128],"id":"d49689d4-2cbe-42a4-941e-8e6e472e3fd1","name":"Prompt Apply Open Process"},{"parameters":{"operation":"update","tableId":"callsattentionusers","filters":{"conditions":[{"keyName":"id","condition":"eq","keyValue":"={{ $('Insert Call Attention').item.json.id }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"analisis_ia","fieldValue":"={{ $json.text.contexto }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[1136,-128],"id":"e2fa18dc-6c44-4c83-b5fb-4eab5d1f8baa","name":"Update Facts","credentials":{"supabaseApi":{"id":"FwL4MdWXiWLBxiET","name":"Supabase account"}}},{"parameters":{"workflowId":{"__rl":true,"value":"wfIixJ8BYC57feJN","mode":"list","cachedResultName":"LG_SEND_TEAMS_MESSAGE"},"workflowInputs":{"mappingMode":"defineBelow","value":{"urlChat":"={{ $('Reception Call Attention Form').item.json.au.url_teams }}","bodyTeams":"={{ \n{\n  type: \"message\",\n  text: $('Call Agent Multi Task').item.json.text.contexto\n} \n}}"},"matchingColumns":[],"schema":[{"id":"urlChat","displayName":"urlChat","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"bodyTeams","displayName":"bodyTeams","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"object","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[208,224],"id":"aa61e425-d02f-428f-8e4f-0eb910446adf","name":"Send Message Teams"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"cbc23767-5534-4a79-a07e-d52eec0f9a93","leftValue":"={{ $('Call Agent Multi Task').item.json.text.crearProcesoApertura }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[528,224],"id":"ed925741-a1f4-4547-9a62-48ca3335c912","name":"Validate Open Process"},{"parameters":{"jsCode":"return {\n  formHechos: {\n    ...$('Reception Call Attention Form').first().json.teams.body.value,\n    call_atettntion_row: $('Insert Call Attention').first().json\n  },\n  authenticateTeamsInfo: $('Reception Call Attention Form').first().json.au\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1040,112],"id":"0cb2d9bc-e244-43ce-9f6c-0744e7395a53","name":"Map Form Data"},{"parameters":{"jsCode":"return $input.all();"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1568,320],"id":"c154a93a-5790-41b2-98e2-d53d3635073c","name":"Response"},{"parameters":{"jsCode":"return [{}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1040,320],"id":"5e2734af-3469-4a73-8e1e-0d0531b49e0a","name":"Empty Response"},{"parameters":{"inputSource":"passthrough"},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-640,224],"id":"9ba0760b-280b-4196-9f8e-f0ab4bbe4945","name":"Called From Teams - Ingress Main"},{"parameters":{"workflowId":{"__rl":true,"value":"jsvU0L8VZkQUTvNr","mode":"list","cachedResultName":"LG_AGENT_MULTI_TASK"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[800,-128],"id":"26dfd637-6992-4bc9-9d3c-71efdc4ba00a","name":"Call Agent Multi Task"},{"parameters":{"workflowId":{"__rl":true,"value":"mlEeCATL3wHlNUI5","mode":"list","cachedResultName":"LG_FORM_YES_NOT"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[1312,112],"id":"4be84135-5620-4cf8-8208-80ed00ddfc9b","name":"Call Form Yes/Not"}],"connections":{"Reception Call Attention Form":{"main":[[{"node":"Get Employee","type":"main","index":0}]]},"Get Employee":{"main":[[{"node":"Insert Call Attention","type":"main","index":0}]]},"Insert Call Attention":{"main":[[{"node":"Prompt Apply Open Process","type":"main","index":0}]]},"Prompt Apply Open Process":{"main":[[{"node":"Call Agent Multi Task","type":"main","index":0}]]},"Update Facts":{"main":[[{"node":"Send Message Teams","type":"main","index":0}]]},"Send Message Teams":{"main":[[{"node":"Validate Open Process","type":"main","index":0}]]},"Validate Open Process":{"main":[[{"node":"Map Form Data","type":"main","index":0}],[{"node":"Empty Response","type":"main","index":0}]]},"Map Form Data":{"main":[[{"node":"Call Form Yes/Not","type":"main","index":0}]]},"Empty Response":{"main":[[{"node":"Response","type":"main","index":0}]]},"Called From Teams - Ingress Main":{"main":[[{"node":"Reception Call Attention Form","type":"main","index":0}]]},"Call Agent Multi Task":{"main":[[{"node":"Update Facts","type":"main","index":0}]]},"Call Form Yes/Not":{"main":[[{"node":"Response","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Called From Teams - Ingress Main":[{"json":{"au":{"id":169,"created_at":"2025-08-03T21:17:12.19+00:00","is_authenticated":true,"user_id":9,"full_name":"Nicolas Hernandez","document":1015440371,"user_teams_id":"a:1beuby_mpkUVvgi7L5VAwQQIB3X65r2ZoHKoMRCRD_m_IZo6-AVNwGNIBUJI-OVbsCF6FwIKl54MLQVhhFLHuHpWu_xIniJs9YQo23VTJHoMhg_PLoCAh1NAbSNVwGPtW","update_at":"2025-08-04T13:32:16.403","url_teams":"https://smba.trafficmanager.net/amer/f5b4bce5-06f0-4035-861f-ddea6d55a5e9/v3/conversations/a:1beuby_mpkUVvgi7L5VAwQQIB3X65r2ZoHKoMRCRD_m_IZo6-AVNwGNIBUJI-OVbsCF6FwIKl54MLQVhhFLHuHpWu_xIniJs9YQo23VTJHoMhg_PLoCAh1NAbSNVwGPtW/activities"},"infoUser":{"id":9,"email":"nicolas.hernandez@softgic.co","document":"1015440371","full_name":"Nicolas Hernandez","position":"DEV - Lider","department":"Calidad","solvo_id":"SOLAT140","fk_id_user_type":1,"fk_id_status":6},"teams":{"headers":{"host":"legal-agent-dev.toolssolvo.com","user-agent":"Microsoft-SkypeBotApi (Microsoft-BotFramework/3.0)","content-length":"1259","authorization":"Bearer eyJhbGciOiJSUzI1NiIsImtpZCI6IkR6M2kzdmZfX0ljcnBaMG1EamhVVWNoODVFRSIsIng1dCI6IkR6M2kzdmZfX0ljcnBaMG1EamhVVWNoODVFRSIsInR5cCI6IkpXVCJ9.ew0KICAic2VydmljZXVybCI6ICJodHRwczovL3NtYmEudHJhZmZpY21hbmFnZXIubmV0L2FtZXIvZjViNGJjZTUtMDZmMC00MDM1LTg2MWYtZGRlYTZkNTVhNWU5LyIsDQogICJuYmYiOiAxNzU0MzE0NjI3LA0KICAiZXhwIjogMTc1NDMxODIyNywNCiAgImlzcyI6ICJodHRwczovL2FwaS5ib3RmcmFtZXdvcmsuY29tIiwNCiAgImF1ZCI6ICJjYjQ4NWI3MS1lZDU3LTRjYzAtOGFmNy1iNTQyOWQ3YjNhZWQiDQp9.JsUWEiOYeeqPa5KpDm5R1fyQLS8ljjoY6q4pMCzxfcX2Auei8IpNZ1GtNPN1nIv51_Haug56jzQDFf3A1osg6_cZMYZ0_2WgKv62cde-P5_s1y8x64S4KGZGbE4N-bLgx5qjmfNbbiiL1JjLTkF-hCtt0VK-AO442umPa3mdGcEuL-5J57qlHNU2D4pdkS853AedELqKQTHl8vN87xvcHu5OXgQgursMWHs0zPQEk26KYLxzy51aLZChF8UyRJ7V54ve7wfNIFod_YvSXCJdtpwhM7VYSRKnB8V2G2rjt3k0jKSN5agmnDP8TMC13nPoIJvvpR7lx4PHdXygICOfSw","content-type":"application/json; charset=utf-8","ms-cv":"LvBhzTOdkUipiiKDpT5Q1g.1.3","x-forwarded-for":"52.112.76.0","x-forwarded-host":"legal-agent-dev.toolssolvo.com","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"9c55506220b6","x-ms-conversation-id":"a:1beuby_mpkUVvgi7L5VAwQQIB3X65r2ZoHKoMRCRD_m_IZo6-AVNwGNIBUJI-OVbsCF6FwIKl54MLQVhhFLHuHpWu_xIniJs9YQo23VTJHoMhg_PLoCAh1NAbSNVwGPtW","x-ms-tenant-id":"f5b4bce5-06f0-4035-861f-ddea6d55a5e9","x-real-ip":"52.112.76.0","accept-encoding":"gzip"},"params":{},"query":{},"body":{"type":"message","timestamp":"2025-08-04T13:37:06.953Z","localTimestamp":"2025-08-04T08:37:06.953-05:00","id":"f:968144a9-c717-1426-da15-0e6516d5c413","channelId":"msteams","serviceUrl":"https://smba.trafficmanager.net/amer/f5b4bce5-06f0-4035-861f-ddea6d55a5e9/","from":{"id":"29:1zFlw_11BVTcimXgGqwAr7E0RzzURXezAklAvF8H7edlmzKEzMiFf2GHJB_HvqMuSvwJxNZXLyzePiTdoyKONNQ","name":"Juan Nicolás Hernández Duque","aadObjectId":"8cf8535b-a4f1-45ea-b3c1-b82706c2566c"},"conversation":{"conversationType":"personal","tenantId":"f5b4bce5-06f0-4035-861f-ddea6d55a5e9","id":"a:1beuby_mpkUVvgi7L5VAwQQIB3X65r2ZoHKoMRCRD_m_IZo6-AVNwGNIBUJI-OVbsCF6FwIKl54MLQVhhFLHuHpWu_xIniJs9YQo23VTJHoMhg_PLoCAh1NAbSNVwGPtW"},"recipient":{"id":"28:cb485b71-ed57-4cc0-8af7-b5429d7b3aed","name":"Agente Legal Lider - n8n"},"entities":[{"locale":"es-ES","country":"ES","platform":"Web","timezone":"America/Bogota","type":"clientInfo"}],"channelData":{"tenant":{"id":"f5b4bce5-06f0-4035-861f-ddea6d55a5e9"},"source":{"name":"message"},"legacy":{"replyToId":"1:1bn60pRxjQL8xX1O3JJfLNiHUX-HpEvd0qtlGjcDa4fo"}},"replyToId":"1754314274470","value":{"employee":"33","comment":"No contesta los chats de los clientes","code":"formCallAttention"},"locale":"es-ES","localTimezone":"America/Bogota"},"webhookUrl":"https://legal-agent-dev.toolssolvo.com/webhook/teams-msg","executionMode":"production","token_teams":"Bearer eyJhbGciOiJSUzI1NiIsImtpZCI6IkR6M2kzdmZfX0ljcnBaMG1EamhVVWNoODVFRSIsIng1dCI6IkR6M2kzdmZfX0ljcnBaMG1EamhVVWNoODVFRSIsInR5cCI6IkpXVCJ9.ew0KICAic2VydmljZXVybCI6ICJodHRwczovL3NtYmEudHJhZmZpY21hbmFnZXIubmV0L2FtZXIvZjViNGJjZTUtMDZmMC00MDM1LTg2MWYtZGRlYTZkNTVhNWU5LyIsDQogICJuYmYiOiAxNzU0MzE0NjI3LA0KICAiZXhwIjogMTc1NDMxODIyNywNCiAgImlzcyI6ICJodHRwczovL2FwaS5ib3RmcmFtZXdvcmsuY29tIiwNCiAgImF1ZCI6ICJjYjQ4NWI3MS1lZDU3LTRjYzAtOGFmNy1iNTQyOWQ3YjNhZWQiDQp9.JsUWEiOYeeqPa5KpDm5R1fyQLS8ljjoY6q4pMCzxfcX2Auei8IpNZ1GtNPN1nIv51_Haug56jzQDFf3A1osg6_cZMYZ0_2WgKv62cde-P5_s1y8x64S4KGZGbE4N-bLgx5qjmfNbbiiL1JjLTkF-hCtt0VK-AO442umPa3mdGcEuL-5J57qlHNU2D4pdkS853AedELqKQTHl8vN87xvcHu5OXgQgursMWHs0zPQEk26KYLxzy51aLZChF8UyRJ7V54ve7wfNIFod_YvSXCJdtpwhM7VYSRKnB8V2G2rjt3k0jKSN5agmnDP8TMC13nPoIJvvpR7lx4PHdXygICOfSw","from":{"id":"29:1zFlw_11BVTcimXgGqwAr7E0RzzURXezAklAvF8H7edlmzKEzMiFf2GHJB_HvqMuSvwJxNZXLyzePiTdoyKONNQ","name":"Juan Nicolás Hernández Duque","aadObjectId":"8cf8535b-a4f1-45ea-b3c1-b82706c2566c"},"recipient":{"id":"28:cb485b71-ed57-4cc0-8af7-b5429d7b3aed","name":"Agente Legal Lider - n8n"},"sessionId":"a:1beuby_mpkUVvgi7L5VAwQQIB3X65r2ZoHKoMRCRD_m_IZo6-AVNwGNIBUJI-OVbsCF6FwIKl54MLQVhhFLHuHpWu_xIniJs9YQo23VTJHoMhg_PLoCAh1NAbSNVwGPtW","urlChat":"https://smba.trafficmanager.net/amer/f5b4bce5-06f0-4035-861f-ddea6d55a5e9/v3/conversations/a:1beuby_mpkUVvgi7L5VAwQQIB3X65r2ZoHKoMRCRD_m_IZo6-AVNwGNIBUJI-OVbsCF6FwIKl54MLQVhhFLHuHpWu_xIniJs9YQo23VTJHoMhg_PLoCAh1NAbSNVwGPtW/activities"}}}]},"versionId":"59fee09d-5c9a-4a4b-8ba3-7463e75b2e18","triggerCount":0,"tags":[{"createdAt":"2025-07-28T21:28:44.143Z","updatedAt":"2025-07-28T21:28:44.143Z","id":"nltXpCxWPVopQXaA","name":"Agent_Legal"},{"createdAt":"2025-07-29T16:13:37.301Z","updatedAt":"2025-07-29T16:13:37.301Z","id":"KVbUPIatLZ1g3jme","name":"Complete"}]}